*{
    box-sizing: border-box;
}
main{
    display: flex;flex-direction: column;
}
.pathButtons{
    width: 100%;display: flex;
}
.pathButton{
    width: 50%;
    height: 30px;
    background-color: rgba(130, 219, 122, .3);
    border: 1px solid #878787;
    text-align: center;
}
.pathButton>a{
    text-decoration: none;
    color: black;
}

header,
.counterContainer{
    display: flex;
    align-items: center;justify-content: center;
    margin: 24px 0;
}
input{
    height: 24px;font-size: 16px;
}
.start {
    display: inline-block;
    border: 1px solid black;
    height: 24px;margin-left: 12px;
}
.counter{
    margin-left: 12px;
}
.puzzleContainer {
    width: 300px;height: 300px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;flex-wrap: wrap;
}
.puzzle{
    width: 33.33%;height: 33.33%;
    border: 1px solid black;
    display: flex;align-items: center;justify-content: center;
}